body {
    /* margin: auto; */
    /*when it is 0 no need to specify units like px*/
    text-align: center;
    font-family: 'merriweather', serif;
    /*By default we have serif family as our font*/
    color: #180A0A;
}

.intro {
    width: 35%;
    margin: auto;
}

p {
    line-height: 2;
}

h1 {
    /* margin: 0; */
    /* margin: auto; */
    /* if it is a block element   and it has a width set
    then we should use auto value for margin*/
    margin: 0 auto;
    font-family: 'roboto', sans-serif;
    font-size: 5.625rem;
    /*90/16*/
    /* 100% = 16px = 1em */
    /*rem doesn't get affected by upstream size changes
    so it is better to use rem than em*/
    margin-top: 60px auto auto auto;
    color: #66BFBF;
    line-height: 2;
}

.para {
    font-size: 2.50rem;
    color: #66BFBF;
    font-weight: normal;
}

h2 {
    font-family: 'montserrat', sans-serif;
    color: #11999E;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'montserrat', sans-serif;
    color: #11999E;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-container {
    background-color: #E4f9f5;
    position: relative;
    padding-top: 150px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6 6px;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}

.photo {
    transition: 0.4s all ease-in-out;
}

.photo:hover {
    transform: scale(1.24);
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    /* height: 100px; */
    /* width: 1349px; */
    background-color: #66bfbf;
    padding: 50px 0 50px;
    margin: 50px auto 0;
}

.tt {
    padding: 20px;
    margin-top: 30px;
}

.bluee {
    background-color: #66bfbf;
    margin-bottom: auto;
}


/* .bottom-container1 {
    background-color: #66bfbf;
    padding: 120px auto;
    position: relative;
    top: 100px;
}

.bottom-container1:hover {
    background-color: #F4BFBF;
} */

.instagram {
    position: absolute;
    left: 350px;
    transition: 0.2s all ease-in-out;
}

.instagram:hover {
    transform: scale(1.20);
}

.github {
    position: absolute;
    left: 550px;
    transition: 0.2s all ease-in-out;
}

.github:hover {
    transform: scale(1.20);
}

.linkedin {
    position: absolute;
    left: 750px;
    transition: 0.2s all ease-in-out;
}

.linkedin:hover {
    transform: scale(1.20);
}

.gmail {
    position: absolute;
    left: 950px;
    transition: 0.2s all ease-in-out;
}

.gmail:hover {
    transform: scale(1.20);
}


/* .contact-me {
    height: 120px;
} */

span {
    text-decoration: underline;
}

a {
    color: #11999E;
}

.skill-row {
    /* display: inline-block; */
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
    transition: 0.2s all ease-in-out;
}

.skill-row:hover {
    transform: scale(0.94);
}

.typing {
    width: 50%;
    float: left;
    margin: 50px;
}

.programming {
    width: 50%;
    float: right;
    margin: 50px;
}

.speech {
    width: 50%;
    float: left;
    margin: 50px;
}

.web-design {
    width: 50%;
    float: right;
    margin: 50px;
}


/* use float only to wrap text around */

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
    transform: scale(1.80);
}

.contact-me {
    margin: 40px auto 60px auto;
    padding: 20px auto;
}

.copy {
    color: #e6eeee;
    padding: 20px 0;
}

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-rows: 1.2fr .2fr 1.3fr 1.8fr 1.2fr 1.8fr 0.8fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav nav" "main main" "content1 content1" "content3 content3 " "content2 content4" "content5 content6" "footer footer";
    grid-gap: 0.2rem;
}

nav {
    grid-area: nav;
    background-color: white;
    font-weight: 800;
    text-transform: uppercase;
    color: #004d40;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1 {
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2 {
    grid-area: content2;
    border: 5px solid purple;
    border-radius: 40px;
    transition: 0.4s all ease-in-out;
}

#content2:hover {
    /* border-radius: 100px; */
    transform: scale(0.94);
}

#content3 {
    grid-area: content3;
    text-align: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content4 {
    grid-area: content4;
    border: 5px solid green;
    border-radius: 40px;
    transition: 0.4s all ease-in-out;
}

#content4:hover {
    transform: scale(0.94);
}

#content5 {
    grid-area: content5;
    border: 5px solid green;
    border-radius: 40px;
    transition: all 0.4s ease-in-out;
}

#content5:hover {
    transform: scale(0.94);
}

#content6 {
    grid-area: content6;
    border: 5px solid purple;
    border-radius: 40px;
    margin: auto;
    transition: all 0.4s ease-in-out;
}

#content6:hover {
    /* border-radius: 100px; */
    transform: scale(0.94);
}

footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.portfolio {
    position: static;
    text-decoration: none;
    color: grey;
}

.con {
    position: absolute;
    right: 250px;
    text-decoration: none;
    color: grey;
}

@media only screen and (max-width:850px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.8fr;
        grid-template-areas: "nav" "main" "content1" "content3" "content2" "content4" "content5" "content6" "footer";
    }
    .bottom-container {
        grid-template-rows: 5vh auto auto auto 100px;
        font-size: 3.5vw;
        width: 90vw;
    }
    .bottom-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "instagram gmail" "linkedin github";
    }
    .instagram {
        grid-area: instagram;
        position: relative;
        left: 5px;
        transition: 0.2s all ease-in-out;
    }
    .instagram:hover {
        transform: scale(1.20);
    }
    .gmail {
        grid-area: gmail;
        position: relative;
        left: 10px;
        transition: 0.2s all ease-in-out;
    }
    .gmail:hover {
        transform: scale(1.20);
    }
    .linkedin {
        grid-area: linkedin;
        position: relative;
        left: 25px;
        transition: 0.2s all ease-in-out;
    }
    .linkedin:hover {
        transform: scale(1.20);
    }
    .github {
        grid-area: github;
        position: relative;
        left: 20px;
        transition: 0.2s all ease-in-out;
    }
    .github:hover {
        transform: scale(1.20);
    }
    .portfolio {
        position: relative;
        left: 1rem;
        text-decoration: none;
        color: grey;
        font-size:1rem;
    }
    .con {
        position: relative;
        right: 1rem;
        text-decoration: none;
        color: grey;
         font-size:1rem;
    }
}
